<a href="https://colab.research.google.com/github/ShravankumarMR/BigData-Spark/blob/main/Spark1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Top City wise sales").getOrCreate()

In [4]:
sc = spark.sparkContext

## Data is provided in format :

1)txn id
2)dt
3)cust id
4)amt
5)category
6)prod
7)city
8)state
9)mode of payment

In [14]:
rdd1 = sc.textFile("/content/Input/trans.txt")
print(" Total records : " ,rdd1.count() , "\n\n Sample data: \n")

for i in rdd1.take(5):
  print(i)

 Total records :  50000

 Sample data:

00000000,06-26-2011,4007024,040.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
00000001,05-26-2011,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
00000002,06-01-2011,4009775,005.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
00000003,06-05-2011,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
00000004,12-17-2011,4002613,098.81,Team Sports,Field Hockey,Nashville  ,Tennessee,credit

In [8]:
# check number or partitions created and parallelism supported
print("Number of partitions of data: " ,rdd1.getNumPartitions())
print("Paralleism supported:" , sc.defaultParallelism)

Number of partitions of data:  2
Paralleism supported: 2

In [15]:
# Data is seperated by comma, so split based on comma
rdd2 = rdd1.map(lambda a : (a.split(',')[6], float(a.split(',')[3])))
for i in rdd2.take(5):
  print(i)

('Clarksville', 40.33)
('Long Beach', 198.44)
('Anaheim', 5.58)
('Milwaukee', 198.19)
('Nashville  ', 98.81)

In [16]:
rdd3 = rdd2.reduceByKey(lambda a,b : a+b)

for i in rdd3.take(5):
  print(i)

('Charleston', 46599.490000000005)
('Columbus', 90586.09999999999)
('St. Petersburg', 45927.28)
('Honolulu  ', 42950.009999999995)
('Los Angeles', 45167.46000000002)

In [22]:
rdd4 = rdd3.sortBy(lambda a : -a[1])
print("Top City wise sales, for top 10 cities \n")
for i in rdd4.take(10):
  print(i)

print("\n Data is still in these many partitions: " ,rdd4.getNumPartitions())

Top City wise sales, for top 10 cities

('Pasadena', 95533.97999999995)
('Columbia', 93853.11000000004)
('Kansas City', 92750.95999999999)
('Columbus', 90586.09999999999)
('Long Beach', 52686.70000000001)
('Cincinnati', 52008.21)
('Buffalo', 50933.81999999999)
('Detroit', 50878.04000000001)
('Boston', 50532.34999999999)
('Oakland', 49764.81000000001)

 Data is still in these many partitions:  2

In [24]:
# Get into 1 partition
rdd5 = rdd4.coalesce(1)

In [25]:
# save data into output file
rdd5.saveAsTextFile("/content/Output")

In [26]:
# Print saves output for demo purpose
rdd6 = sc.textFile("/content/Output/part-00000")
for i in rdd6.take(10):
  print(i)

('Pasadena', 95533.97999999995)
('Columbia', 93853.11000000004)
('Kansas City', 92750.95999999999)
('Columbus', 90586.09999999999)
('Long Beach', 52686.70000000001)
('Cincinnati', 52008.21)
('Buffalo', 50933.81999999999)
('Detroit', 50878.04000000001)
('Boston', 50532.34999999999)
('Oakland', 49764.81000000001)