<a href="https://colab.research.google.com/github/ShravankumarMR/BigData-Spark/blob/main/UberAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Uber month wise trips for all base numbers').getOrCreate()
sc = spark.sparkContext

# Read data from txt.
The data is provided in below structure:

1)base no
2)dt
3)no of active vehicles
4)no of trips

In [7]:
inp = sc.textFile("/content/Input/uber_data")

print(" Total records : ", inp.count() , " \n\n Sample records: \n")
for i in inp.take(5):
  print(i)

 Total records :  355

 Sample records:

dispatching_base_number,date,active_vehicles,trips
B02512,1/1/2015,190,1132
B02765,1/1/2015,225,1765
B02764,1/1/2015,3427,29421
B02682,1/1/2015,945,7679

In [9]:
print("Parallelism supported: ", sc.defaultParallelism)
print("Total partitions: ", inp.getNumPartitions())

Parallelism supported:  2
Total partitions:  2

In [10]:
# Data has header so extract rdd without header
header = inp.first()
data = inp.filter(lambda x: x!=header)

print("Total records after removing header: ", data.count())

Total records after removing header:  354

In [17]:
# Get date field , trips
rdd1 = data.map(lambda a : (a.split(',')[1] , a.split(',')[3]))

for i in rdd1.take(5):
  print(i)

('1/1/2015', '1132')
('1/1/2015', '1765')
('1/1/2015', '29421')
('1/1/2015', '7679')
('1/1/2015', '9537')

In [20]:

todays_date = "10/05/2025"
format_date = "%m/%d/%Y"
print(datetime.strptime(todays_date, format_date).strftime("%B"))

October

In [23]:
# Extract month from date
from datetime import datetime
rdd2 = rdd1.map(lambda a : (datetime.strptime(a[0], format_date).strftime("%B"),a[1]))

for i in rdd2.take(5):
  print(i)

('January', '1132')
('January', '1765')
('January', '29421')
('January', '7679')
('January', '9537')

In [24]:
tripsPerMonth = rdd2.reduceByKey(lambda a,b : int(a)+int(b))

print(" Total trips per month : \n")
for i in tripsPerMonth.take(5):
  print(i)

 Total trips per month :

('January', 1908649)
('February', 2221581)

In [25]:
print(" Partitions for the output :" , tripsPerMonth.getNumPartitions())

 Partitions for the output : 2

In [26]:
output = tripsPerMonth.coalesce(1)

# Save data to output file

output.saveAsTextFile("/content/Output")

In [27]:
# print saved output for demo

rdd3 = sc.textFile("/content/Output/part-00000")

for i in rdd3.take(5):
  print(i)

('January', 1908649)
('February', 2221581)